<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Order>
            <version>1.0.0</version>
        </Custom_Order>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Custom_Order_Block_Adminhtml_Order_Gird</sales_order_grid>
                </rewrite>
            </adminhtml>
            <custom_order>
                <class>Custom_Order_Block</class>
            </custom_order>
        </blocks>
        <models>
            <custom_order>
                <class>Custom_Order_Model</class>
                <resourceModel>customorder_resource</resourceModel>
            </custom_order>
            <customorder_resource>
                <class>Custom_Order_Model_Resource</class>
            </customorder_resource>
        </models>
        <helpers>
            <adminhtml>
                <rewrite>
                    <dashboard_data>Custom_Order_Helper_Adminhtml_Dashboard_Data</dashboard_data>
                </rewrite>
            </adminhtml>
            <custom_order>
                <class>Custom_Order_Helper</class>
            </custom_order>
        </helpers>
        <resources>
            <custom_order_setup>
                <setup>
                    <module>Custom_Order</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </custom_order_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <custom_order_>
                        <class>custom_order/observer</class>
                        <method>Custom_Order</method>
                    </custom_order_>
                </observers>
            </sales_order_place_after>           
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Custom_Order before="Mage_Adminhtml">Custom_Order_Adminhtml</Custom_Order>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>